<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dungzi.hanmap" version="1" xmlns="http://www.w3.org/ns/widgets"  xmlns:gap="http://phonegap.com/ns/1.0">
    <name>한맵</name>
    <description>	
        한맵
    </description>
    <author email="webplug@gmail.com" href="http://www.dungzi.com/">
        Dungzi Team
    </author>
	<preference name="AutoHideSplashScreen" value="true" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="SplashScreen" value="screen"/>
	<preference name="android-minSdkVersion" value="15" />
	<preference name="fullscreen" value="true" />

	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm"  />
	<gap:plugin name="cordova-plugin-splashscreen" version="3.1.0" source="npm" />

	
	<allow-navigation href="*" />
	<icon src="icon.png" />
	<splash src="splash.png" />
	<content src="index.html" />
	<access origin="*" />
</widget>